<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="common/links::header"></div>
	<title>整经产量登记</title>
</head>

<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<form class="layui-form layui-card-header layuiadmin-card-header-auto" id="form">
				<div class="layui-form-item">

					<div class="layui-inline">
						<label class="layui-form-label">日期</label>
						<div class="layui-input-inline">
							<input type="text" name="title" lay-verify="required" placeholder="日期" id="rq" class="layui-input" autocomplete="off" />
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">班次</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="bc" lay-filter="bc">
							</select>
						</div>
					</div>

					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="form_search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
						</button>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-list" type="button" id="add">
							<i class="layui-icon layuiadmin-button-btn" >&#xe608;</i>产量登记
						</button>
					</div>

				</div>
			</form>
			<div class="layui-card-body">
				<table id="table" lay-filter="table"></table>
			</div>
		</div>
	</div>

	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-xs" lay-event="xg">修改</a>
	</script>
			<!--整经交班产量登记弹出框-->
	<div id="zjjb_cldj_tck" style="display: none;">
		<form class="layui-form">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">日期</label>
					<div class="layui-input-inline">
						<input type="text" name="title" lay-verify="required" placeholder="日期" id="dj_rq" class="layui-input" autocomplete="off" />
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">班次</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="dj_bc" lay-filter="dj_bc">
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">桶/轴</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="dj_zht" lay-filter="dj_zht">
							 <option value="桶">桶</option>
							 <option value="轴">轴</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">机台号</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="dj_jth" lay-filter="dj_jth">
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">轴号</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="dj_zh" lay-filter="dj_zh">
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">经长</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="dj_jc" lay-verify="required" autocomplete="off" placeholder="请输入经长"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="dj_bz" lay-verify="required" autocomplete="off" placeholder="请输入备注"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">整经工</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="dj_zjg" lay-verify="required" autocomplete="off" placeholder="整经工"/>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--修改整经交班产量登记弹出框-->
	<div id="xg_zjjb_cldj_tck" style="display: none;">
		<form class="layui-form">
			<div class="layui-form-item">
					<div class="layui-inline">
					<label class="layui-form-label">日期</label>
					<div class="layui-input-inline">
						<input type="text" name="title" lay-verify="required" placeholder="日期" id="xg_dj_rq" class="layui-input" autocomplete="off" />
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">班次</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="xg_dj_bc" lay-filter="xg_dj_bc">
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">桶或轴</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="xg_dj_zht" lay-filter="xg_dj_zht">
							 <option value="桶">桶</option>
							 <option value="轴">轴</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">机台号</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="xg_dj_jth" lay-filter="xg_dj_jth">
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">轴号</label>
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" id="xg_dj_zh" lay-filter="xg_dj_zh">
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">经长</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="xg_dj_jc" lay-verify="required" autocomplete="off" placeholder="请输入经长"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="xg_dj_bz" lay-verify="required" autocomplete="off" placeholder="请输入备注"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">整经工</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="xg_dj_zjg" lay-verify="required" autocomplete="off" placeholder="整经工"/>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div th:replace="common/links::js_footer"></div>
	<script th:src="@{/js/echarts/TIS-echarts.js}"></script>

	<script>
		layui.config({
			base:"/layuiadmin/" //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
			,zhengjingdengji:'chanliangdengji/zhengjingdengji'
		}).use(['index','zhengjingdengji',],function () {
		});
	</script>

</body>
</html>