<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/common/links::header"></div>
	<title>角色管理</title>
</head>

	<body>

  		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<div class="layui-btn-group">
							<button class="layui-btn" id="add_role_btn"><i class="layui-icon">&#xe608;</i> 添加角色</button>
						</div>
					</div>
				</div>
				<table class="layui-table" id="table" lay-filter="table"></table>
			</div>
		</div>
		<!--添加角色弹出框-->
		<div style="display: none" id="add_js_tck">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">角色名称</label>
						<div class="layui-input-inline">
							<input type="text"  name="name" placeholder="请输入角色名称" class="layui-input" lay-verify="required" autocomplete="off"/>
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">描述</label>
						<div class="layui-input-inline">
							<input type="text"  name="beizhu" placeholder="请输入角色描述" class="layui-input" lay-verify="required" autocomplete="off"/>
						</div>
					</div>

				</div>
			</form>
		</div>

		<!--角色用户列表弹出框-->
		<div class="tnone" id="yh_list_tck">
			<form class="layui-form" action="">				
				<div class="layui-form-item">
					
				</div>
			</form>
		</div>
		<!--<script type="text/html" id="user_list_tpl">
			{{#  layui.each(d, function(idx, it){ }}
				<div class="layui-input-inline">
					 <input type="checkbox" title="{{it.xingming}}" checked="" value="{{it.ygid}}" lay-filter="delete_user_from_role"/>
				</div>
			{{#  }); }}
		</script>-->
		<!--权限配置 弹窗  div-->
		<div id="qxpz_tck" style="display: none;">
			<div class="layui-form">
				  <div class="layui-form-item">

					  <div class="zTreeDemoBackground left">
						<ul id="treeDemo" class="ztree"></ul>
					  </div>
				  </div>
			</div>
		</div>

		<script type="text/html" id="barDemo">
		    <a class="layui-btn layui-btn-xs" lay-event="detail">权限配置</a>
		    <a class="layui-btn layui-btn-xs" lay-event="user">用户列表</a>
		    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删  除</a>
		</script>

		<div th:replace="/common/links::js_footer"></div>
		<script>
            layui.config({
                base:"/layuiadmin/" //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index','jichushezhi/juesequanxian/role'],function () {

            });
		</script>

	</body>

</html>