<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/common/links::header"></div>
	<title>设备参数类别管理</title>
</head>

<body>
  <div class="layui-fluid">
	  <div class="layui-card">
		  <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="form">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">工序</label>
					<div class="layui-input-inline">
						<select name="gongxu" lay-verify="required" lay-search="" id="gongxu" lay-filter="gongxu">
						</select>
					</div>
				</div>

				<div class="layui-inline">
					<label class="layui-form-label">机型</label>
					<div class="layui-input-inline">
						<select name="jixing" lay-verify="required" lay-search="" id="jixing" lay-filter="jixing">
						</select>
					</div>
				</div>

				<div class="layui-inline">
					<button class="layui-btn" lay-submit lay-filter="LAY-user-back-search" id="searchBtn">
						<i class="layui-icon layui-icon-search layuiadmin-button-btn">查询</i>
					</button>
				</div>
			</div>
		  </div>

		  <div class="layui-card-body">
			  <table class="layui-table" lay-filter="table" id="table"></table>
		  </div>
	  </div>
	</div>

		<!--弹出框修改-->
		<div style="display: none" id="edit_form_div">
			<form class="layui-form" lay-filter="form_edit" id="form_edit" style="padding: 20px 30px 0 0;">
				<div class="layui-form-item">

					<div class="layui-inline">
						<label class="layui-form-label">机台号</label>
						<div class="layui-input-block">
							<input type="text" name="jitaihao" autocomplete="off" class="layui-input" disabled/>
						</div>
					</div>
				
					<div class="layui-inline">
						<label class="layui-form-label">制造商</label>
						<div class="layui-input-block">
							<input type="text" id="edit_zhizaoshang" name="zhizaoshang" autocomplete="off" placeholder="请输入制造商" class="layui-input" />
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">IP地址</label>
						<div class="layui-input-block">
							<input type="text" id="edit_ip" name="ip" autocomplete="off" placeholder="请输入IP地址" class="layui-input" />
						</div>
					</div>								
					<div class="layui-inline">
						<label class="layui-form-label">端口号</label>
						<div class="layui-input-block">
							<input type="text" id="edit_port" name="port" autocomplete="off" placeholder="请输入端口号" class="layui-input" />
						</div>
					</div>

					<div class="layui-hide">
						<input type="button" lay-submit lay-filter="form_edit_submit" id="form_edit_submit" value="确认">
					</div>

				</div>
			</form>
		</div>

	  <script type="text/html" id="barDemo">
		  <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
	  </script>


  		<div th:replace="/common/links::js_footer"></div>

  		<!--0 false 1 true-->
  		<script type="text/html" id="jihuatingtai">
			{{#  if(d.jihuatingtai=='0'){ }}
				<input id='{{d.id}}' type='checkbox' lay-skin='switch' lay-text='是|否' lay-filter='switchjhtc' value='0'/>
 			{{#  }else { }}
				<input id='{{d.id}}' type='checkbox' lay-skin='switch' lay-text='是|否' lay-filter='switchjhtc' value='1' checked/>
			{{#  } }}
		</script>

	  <script>
		  layui.config({
			  base:"/layuiadmin/" //静态资源所在路径
		  }).extend({
			  index: 'lib/index' //主入口模块
			  ,shebeiguanli:'jichushezhi/shebei/shebeiguanli'
		  }).use(['index','shebeiguanli'],function () {

		  });
	  </script>

</html>