<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="common/links::header"></div>
	<title>浆纱总览</title>
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table" lay-filter="table"></table>
			</div>
		</div>
	</div>

	<!--合约号对应原纱信息弹框-->
	<div id="hyh_ys_tck" style="display: none;">
		<label class="layui-form-label" style="color: #01AAED; width: auto;">经纱</label>
		<table class="layui-table" lay-filter="hyh_js_table" id="hyh_js_table"></table>
		<label class="layui-form-label" style="color: #01AAED; width: auto;">纬纱</label>
		<table class="layui-table" lay-filter="hyh_ws_table" id="hyh_ws_table"></table>
	</div>

	<div th:replace="common/links::js_footer"></div>

	</body>

	<script>
		layui.config({
			base:"/layuiadmin/" //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
			,jiangsha:'shishishuju/jiangsha'
		}).use(['index','jiangsha'],function () {
		});
	</script>

</html>