<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="common/links::header"></div>
	<title>温湿度总览</title>
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="table" lay-filter="table"></table>
			</div>
		</div>
	</div>

	<!--设置图表 弹窗  div-->
	<div id="s_tubiao" style="display: none">
		<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title" id="cjzl_tab">
				<li class="layui-this" id="wendu_btn">温度</li>
				<li id="shidu_btn">湿度</li>
			</ul>
			<div class="layui-tab-content" style="margin-left: 0;height: 400px; width: 90%;">
				<div class="layui-tab-item" id="echarts_div">
					<div id="lsqx" style="height: 400px; width:100%; margin-bottom: 20px;"></div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/links::js_footer"></div>
	<script th:src="@{/js/echarts/echarts.min.js}"></script>
	<script th:src="@{/js/echarts/TIS-echarts.js}"></script>


	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
	</script>


	<script>
        layui.config({
            base:"/layuiadmin/" //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
            ,wenshidu:'shishishuju/wenshidu'
        }).use(['index','wenshidu',],function () {
        });
	</script>

	</body>
</html>