<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
		<script src="../../layuiadmin/layui/layui.js"></script>
	</head>

	<body>
		<!-- 通用文件引入 -->
		<!--<div th:replace="common"></div>-->
		<!-- 通用文件引入结束 -->
		<div class="layui-fluid">
			<div class="layui-form">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: auto;">下单日期范围</label>
						<div class="layui-input-inline">
							<input type="text" id="rqfw" placeholder="日期范围" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label leftsou">订单状态</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="ddzt" lay-filter="ddzt">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label leftsou">订单号</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="ddh" lay-filter="ddh">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label" style="width: auto;">要求交货日期</label>
						<div class="layui-input-inline">
							<input type="text" id="yq_jhrq" placeholder="要求交货日期" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label leftsou">坯布规格</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="pbgg" lay-filter="pbgg">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">客户信息</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="zs" lay-filter="zs">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn" style="margin-left: 66px;">查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询</button>
						<button class="layui-btn">新增订单</button>

						<button type="button" class="layui-btn" id="upload">
							<i class="layui-icon">&#xe67c;</i>订单导入
						</button>
						<form action="/order/downloadExcel" method="get">
							<button class="layui-btn" id="download">
								<i class="layui-icon">&#xe601;</i>导出模板
							</button>
						</form>
					</div>
				</div>
			</div>
			<table class="layui-table" id="dataGrid" lay-filter="dataGrid"></table>
			<div id="page" lay-filter="page"></div>
		</div>
		<!--新增订单弹出框-->
		<div class="tnone" id="add_dd_tck">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">订单号</label>
						<div class="layui-input-inline">
							<input type="text" id="add_ddh" placeholder="订单号" class="layui-input" autocomplete="off" />
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">坯布规格</label>
						<div class="layui-input-inline">
							<input type="text" id="add_pbgg" placeholder="请输入坯布规格" class="layui-input" autocomplete="off" />
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">入库规格</label>
						<div class="layui-input-inline">
							<input type="text" id="add_rkgg" placeholder="请输入入库规格" class="layui-input" autocomplete="off" />
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">包装唛头</label>
						<div class="layui-input-inline">
							<input type="text" id="add_bzmt" placeholder="请输入包装唛头" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">包装要求</label>
						<div class="layui-input-inline">
							<input type="text" id="add_bzyq" placeholder="请输入包装要求" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">ERP商品代码</label>
						<div class="layui-input-inline">
							<input type="text" id="add_spdm" placeholder="请输入ERP商品代码" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">公制规格</label>
						<div class="layui-input-inline">
							<input type="text" id="add_gzgg" placeholder="请输入公制规格" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">交货日期</label>
						<div class="layui-input-inline">
							<input type="text" id="add_jhrq" placeholder="请输入交货日期" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">纬向紧度</label>
						<div class="layui-input-inline">
							<input type="text" id="add_wxjd" placeholder="请输入纬向紧度" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经向紧度</label>
						<div class="layui-input-inline">
							<input type="text" id="add_jxjd" placeholder="请输入经向紧度" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">纬百米用纱</label>
						<div class="layui-input-inline">
							<input type="text" id="add_wbmys" placeholder="请输入纬百米用纱" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经百米用纱</label>
						<div class="layui-input-inline">
							<input type="text" id="add_jbmys" placeholder="请输入经百米用纱" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">下单日期</label>
						<div class="layui-input-inline">
							<input type="text" id="add_xdrq" placeholder="下单日期" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">下单数量</label>
						<div class="layui-input-inline">
							<input type="text" id="add_xdsl" placeholder="请输入下单数量" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">平方克重</label>
						<div class="layui-input-inline">
							<input type="text" id="add_pfkz" placeholder="请输入平方克重" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">特殊约定</label>
						<div class="layui-input-inline">
							<input type="text" id="add_txyd" placeholder="下请输入特殊约定" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">成品用途</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="add_cpyt" lay-filter="add_cpyt">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经理</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="add_jl" lay-filter="add_jl">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">客户信息</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="add_khxx" lay-filter="add_khxx">

							</select>
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">营销员</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="add_yxy" lay-filter="add_yxy">

							</select>
						</div>

					</div>					
					<div class="layui-inline">
						<label class="layui-form-label">原料类型</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="add_yllx" lay-filter="add_yllx">

							</select>
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-inline">
							<textarea type="text" id="add_bz" placeholder="请输入备注" class="layui-input" autocomplete="off"></textarea>
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">操作人</label>
						<div class="layui-input-inline">
							<input type="text" id="add_czr" placeholder="操作人" disabled="disabled" class="layui-input" autocomplete="off" />
						</div>

					</div>
				</div>

			</form>
		</div>
		<!--修改订单弹出框-->
		<div class="tnone" id="xg_dd_tck">
			<form class="layui-form" action="">
			<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">订单号</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_ddh" placeholder="订单号" class="layui-input" autocomplete="off" />
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">坯布规格</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_pbgg" placeholder="请输入坯布规格" class="layui-input" autocomplete="off" />
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">入库规格</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_rkgg" placeholder="请输入入库规格" class="layui-input" autocomplete="off" />
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">包装唛头</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_bzmt" placeholder="请输入包装唛头" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">包装要求</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_bzyq" placeholder="请输入包装要求" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">ERP商品代码</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_spdm" placeholder="请输入ERP商品代码" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">公制规格</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_gzgg" placeholder="请输入公制规格" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">交货日期</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_jhrq" placeholder="请输入交货日期" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">纬向紧度</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_wxjd" placeholder="请输入纬向紧度" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经向紧度</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_jxjd" placeholder="请输入经向紧度" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">纬百米用纱</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_wbmys" placeholder="请输入纬百米用纱" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经百米用纱</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_jbmys" placeholder="请输入经百米用纱" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">下单日期</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_xdrq" placeholder="下单日期" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">下单数量</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_xdsl" placeholder="请输入下单数量" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">平方克重</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_pfkz" placeholder="请输入平方克重" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">特殊约定</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_txyd" placeholder="下请输入特殊约定" class="layui-input" autocomplete="off" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">成品用途</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="xg_cpyt" lay-filter="xg_cpyt">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">经理</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="xg_jl" lay-filter="xg_jl">

							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">客户信息</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="xg_khxx" lay-filter="xg_khxx">

							</select>
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">营销员</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="xg_yxy" lay-filter="xg_yxy">

							</select>
						</div>

					</div>					
					<div class="layui-inline">
						<label class="layui-form-label">原料类型</label>
						<div class="layui-input-inline">
							<select name="modules" lay-verify="required" lay-search="" id="xg_yllx" lay-filter="xg_yllx">

							</select>
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-inline">
							<textarea type="text" id="xg_bz" placeholder="请输入备注" class="layui-input" autocomplete="off"></textarea>
						</div>

					</div>
					<div class="layui-inline">
						<label class="layui-form-label">操作人</label>
						<div class="layui-input-inline">
							<input type="text" id="xg_czr" placeholder="操作人" disabled="disabled" class="layui-input" autocomplete="off" />
						</div>

					</div>
				</div>

			</form>
		</div>

		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="xg">修改</a>
			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="hyh_gl">合约号管理</a>
			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cx">撤销</a>
		</script>

		<script>
            layui.use('upload', function(){
                var upload = layui.upload;
                //执行实例
                var uploadInst = upload.render({
                    accept:'file'	//指定文件类型
                    ,exts:'xlsx'	//指定文件后缀
                    ,elem: '#upload' //绑定元素
                    ,url: '/order/upload' //上传接口
                    ,done: function(res){
                        //上传完毕回调
                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });
            });
		</script>

	</body>

</html>