<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/links::header"></div>
    <title>成品出库申请确认</title>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- 查询条件 -->
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" id="form">
            <div class="layui-form-item">
                <!--&lt;!&ndash;开始日期&ndash;&gt;-->
                 <!--<div class="layui-inline">-->
                     <!--<label class="layui-form-label">领用开始日期</label>-->
                     <!--<div class="layui-input-inline">-->
                         <!--<input type="text" id="kaishiriqi_sele" name="kaishiriqi" placeholder="开始日期" class="layui-input"-->
                                <!--autocomplete="off"/>-->
                     <!--</div>-->
                 <!--</div>-->
                 <!--&lt;!&ndash;结束日期&ndash;&gt;-->
                 <!--<div class="layui-inline">-->
                     <!--<label class="layui-form-label">领用结束日期</label>-->
                     <!--<div class="layui-input-inline">-->
                         <!--<input type="text" id="jieshuriqi_sele" name="jieshuriqi" placeholder="结束日期" class="layui-input"-->
                                <!--autocomplete="off"/>-->
                     <!--</div>-->
                 <!--</div>-->
                <!--合约号-->
                <div class="layui-inline">
                    <label class="layui-form-label">合约号</label>
                    <div class="layui-input-inline">
                        <select name="chengpinchuku.heyuehao.id" id="heyuehao_sele">
                        </select>
                    </div>
                </div>
                <!--购货单位-->
                <div class="layui-inline">
                    <label class="layui-form-label">购货单位</label>
                    <div class="layui-input-inline">
                        <input type="text" name="chengpinchuku.gouhuodanwei"  placeholder="购货单位" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--营销员-->
                <div class="layui-inline">
                    <label class="layui-form-label">营销员</label>
                    <div class="layui-input-inline">
                        <select name="chengpinchuku.yingxiaoyuan.id" id="yingxiaoyuan_sele">
                        </select>
                    </div>
                </div>
                <!--申请状态-->
                <div class="layui-inline">
                    <label class="layui-form-label">申请状态</label>
                    <div class="layui-input-inline">
                        <select name="status.id" id="status_sele">
                        </select>
                    </div>
                </div>
                <!--出库类型-->
                <div class="layui-inline">
                    <label class="layui-form-label">出库类型</label>
                    <div class="layui-input-inline">
                        <select name="chengpinchuku.chukuleixing.id" id="chukuleixing_sele">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="form_search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" type="button" id="add">
                        <i class="layui-icon layuiadmin-button-btn">&#xe608;</i> 添加申请
                    </button>
                </div>
            </div>
        </form>

        <!-- 查询表格-->
        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>
            <script type="text/html" id="caozuo">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>确认</a>
            </script>
        </div>

        <!-- 修改信息 -->
        <div style="display: none" id="div_form_edit">
            <div class="layui-form" lay-filter="form_edit" id="form_edit" style="padding: 20px;">
                <div class="layui-form-item">
                    <fieldset class="layui-elem-field">
                        <legend>申请信息</legend>
                        <div class="layui-field-box">
                            <!-- 合约号 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">合约号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.heyuehao.name"  class="layui-input" autocomplete="off" readonly="readonly"/>
                                </div>
                            </div>
                            <!-- 剩余长度 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">剩余长度</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="shengyuchangdu_edit" class="layui-input" autocomplete="off" readonly="readonly"/>
                                </div>
                            </div>
                            <!-- 要求领用时间 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">要求领用时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.yaoqiulingyongshijian" id="yaoqiulingyongshijian_edit" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 购货单位 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">购货单位</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.gouhuodanwei" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 收货单位 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">收货单位</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.shouhuodanwei" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 联系人 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">联系人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.lianxiren" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 联系电话 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.lianxidianhua" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 收货地址 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">收货地址</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.shouhuodizhi" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 出库类型 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">出库类型</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.chukuleixing.name" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 营销员 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">营销员<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.yingxiaoyuan.xingming" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 申请长度 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">申请长度</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="changdu" readonly="readonly" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 申请备注 === 不是必输项-->
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                            <textarea type="text" name="beizhu"  readonly="readonly" class="layui-input" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="layui-elem-field">
                        <legend>确认信息</legend>
                        <div class="layui-field-box">
                            <!-- 登记长度 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">登记长度<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <input type="text" name="chengpinchuku.changdu" id="changdu_edit" lay-verify="num|length"  tq_length="1^10"
                                           placeholder="登记长度" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>
                            <!-- 仓库确认人 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">仓库确认人<i class="layui-icon layui-icon-snowflake"
                                                                       style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <select name="chengpinchuku.cangkuquerenren.id" id="cangkuquerenren_edit" lay-verify="required">
                                    </select>
                                </div>
                            </div>
                            <!-- 申请备注 === 不是必输项-->
                            <div class="layui-inline">
                                <label class="layui-form-label">确认备注</label>
                                <div class="layui-input-inline">
                            <textarea type="text" name="chengpinchuku.beizhu" lay-verify="length" tq_length="^255" placeholder="请输入备注"
                                      class="layui-input" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- ID -->
                    <div class="layui-form-item layui-hide">
                        <input type="text" name="id">
                        <input type="text" name="chengpinchuku.id">
                        <input type="text" name="chengpinchuku.heyuehao.id">
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="form_edit_submit" id="form_edit_submit" value="确认">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 原纱信息选择 -->
<div th:include="/views/chengpinguanli/chengpinCurrent::chengpinCurrentFragment"></div>

<div th:replace="common/links::js_footer"></div>
<script>
    layui.config({
        base: "/layuiadmin/" //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        , chengpinchukuqueren: 'chengpinguanli/chengpinchukuqueren'
    }).use(['index', 'chengpinchukuqueren'], function () {

    });

</script>
</body>
</html>