<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/links::header"></div>
    <title>成品入库申请</title>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- 查询条件 -->
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" id="form">
            <div class="layui-form-item">
                <!--成品等级-->
                <div class="layui-inline">
                    <label class="layui-form-label">成品等级</label>
                    <div class="layui-input-inline">
                        <select name="chengpindengji.id" id="chengpindengji_sele">
                        </select>
                    </div>
                </div>
                <!--合约号-->
                <div class="layui-inline">
                    <label class="layui-form-label">合约号</label>
                    <div class="layui-input-inline">
                        <select name="heyuehao.id" id="heyuehao_sele">
                        </select>
                    </div>
                </div>
                <!--成品来源-->
                <div class="layui-inline">
                    <label class="layui-form-label">成品来源</label>
                    <div class="layui-input-inline">
                        <select name="laiyuan.id" id="laiyuan_sele">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="form_search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" type="button" id="add">
                        <i class="layui-icon layuiadmin-button-btn">&#xe608;</i> 新增登记
                    </button>
                </div>
            </div>
        </form>

        <!-- 查询表格-->
        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>
            <script type="text/html" id="caozuo">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i  class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"> <i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>

        <!-- 添加信息 -->
        <div style="display: none" id="div_form_add">
            <div class="layui-form" lay-filter="form_add" id="form_add" style="padding: 10px">
                <div class="layui-form-item">


                    <!-- 合约号 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">合约号<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="heyuehao.id" id="heyuehao_add" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!-- 成品等级 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">成品等级<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="chengpindengji.id" id="chengpindengji_add" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!-- 成品来源 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">成品来源<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="laiyuan.id" id="laiyuan_add" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!-- 仓库确认人 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">仓库确认人<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="cangkuquerenren.id" id="cangkuquerenren_add" lay-verify="required">
                            </select>
                        </div>
                    </div>


                    <!-- 长度 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">长度<i class="layui-icon layui-icon-snowflake"  style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" name="changdu" lay-verify="num|length" tq_length="1^10" placeholder="申请长度" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    <!-- 备注 === 不是必输项-->
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <textarea type="text" name="beizhu" lay-verify="length" tq_length="^255" placeholder="请输入备注" class="layui-input" autocomplete="off"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="form_add_submit" id="form_add_submit" value="确认">
                    </div>
                </div>
            </div>
        </div>

        <!-- 修改信息 -->
        <div style="display: none" id="div_form_edit">
            <div class="layui-form" lay-filter="form_edit" id="form_edit" style="padding: 20px 30px 0 0;">
                <div class="layui-form-item">

                    <!-- 合约号 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">合约号<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="heyuehao.id" id="heyuehao_edit" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!-- 成品等级 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">成品等级<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="chengpindengji.id" id="chengpindengji_edit" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!-- 成品来源 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">成品来源<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="laiyuan.id" id="laiyuan_edit" lay-verify="required">
                            </select>
                        </div>
                    </div>

                    <!-- 仓库确认人 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">仓库确认人<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="cangkuquerenren.id" id="cangkuquerenren_edit" lay-verify="required">
                            </select>
                        </div>
                    </div>


                    <!-- 长度 -->
                    <div class="layui-inline">
                        <label class="layui-form-label">长度<i class="layui-icon layui-icon-snowflake"  style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" name="changdu" lay-verify="num|length" tq_length="1^10" placeholder="申请长度" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    <!-- 备注 === 不是必输项-->
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <textarea type="text" name="beizhu" lay-verify="length" tq_length="^255" placeholder="请输入备注" class="layui-input" autocomplete="off"></textarea>
                        </div>
                    </div>

                    <!-- ID -->
                    <div class="layui-form-item layui-hide">
                        <input type="text" name="id">
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="form_edit_submit" id="form_edit_submit" value="确认">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="common/links::js_footer"></div>
<script>
    layui.config({
        base: "/layuiadmin/" //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        , chengpinrukudengji: 'chengpinguanli/chengpinrukudengji'
    }).use(['index', 'chengpinrukudengji'], function () {

    });

</script>
</body>
</html>