<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common/links::header"></div>
    <title>上海纺织织造</title>
</head>
<body class="layui-layout-body">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">



            <!--头部区域-->
            <div class="layui-header">
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                        <!--<a href="http://www.layui.com/admin/" target="_blank" title="前台">-->
                            <!--<i class="layui-icon layui-icon-website"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                    <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                        <!--<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">-->
                    <!--</li>-->
                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                    <li class="layui-nav-item" lay-unselect>
                        <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                            <i class="layui-icon layui-icon-notice"></i>

                            <!-- 如果有新消息，则显示小圆点 -->
                            <span class="layui-badge-dot"></span>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:" layadmin-event="theme">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:" layadmin-event="note">
                            <i class="layui-icon layui-icon-note"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:" layadmin-event="fullscreen">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect style="margin-right: 20px">
                        <a href="javascript:">
                            <cite th:text="${#authentication.getPrincipal().getUser().getXingming()}"></cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="forward/jichushezhi/info">基本资料</a></dd>
                            <dd><a lay-href="forward/jichushezhi/password">修改密码</a></dd>
                            <hr>
                            <dd style="text-align: center;"><a th:href="@{/logout}">退出</a></dd>
                        </dl>
                    </li>

                    <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                        <!--<a href="javascript:;" layadmin-event=""><i class="layui-icon layui-icon-more-vertical"></i></a>-->
                    <!--</li>-->
                    <!--<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>-->
                        <!--<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
                    <!--</li>-->
                </ul>

            </div>




            <!--侧边栏-->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="home/console.html">
                        <span>上海纺织</span>
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        <li data-name="xitongshezhi" class="layui-nav-item">
                            <a href="javascript:" lay-tips="实时数据" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>实时数据</cite>
                            </a>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/shishishuju/chejianzonglan">车间总览</a></dd>
                            </dl>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/shishishuju/jingzhou">经轴实时查看</a></dd>
                            </dl>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/shishishuju/zhizhou">织轴实时查看</a></dd>
                            </dl>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/shishishuju/wenshidu">温湿度总览</a></dd>
                            </dl>
                        </li>
                        <li data-name="jichushezhi" class="layui-nav-item">
                            <a href="javascript:" lay-tips="基础设置" lay-direction="2">
                                <i class="layui-icon layui-icon-set"></i>
                                <cite>基础设置</cite>
                            </a>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/jichushezhi/user">用户管理</a></dd>
                                <dd><a lay-href="forward/jichushezhi/pancunyue">盘存月管理</a></dd>
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:">角色权限管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/permission">权限管理</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/role">角色管理</a></dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:">排班管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/gongxupaiban">工序对应排班</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/yunzhuanfangshi">运转方式管理</a></dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:">车间大屏管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/tongzhigonggao">通知公告管理</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/zhanshiyemian">展示页面管理</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/dianshifangan">电视方案管理</a></dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:">设备管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/shebeiguanli">设备管理</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/shebeiparam">设备参数管理</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/shebeiparamtype">设备参数类别管理</a></dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:">经织轴管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/jingzhouguanli">经轴管理</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/zhizhouguanli">织轴管理</a></dd>
                                    </dl>
                                </dd>
                                <!--<dd class="layui-nav-itemed">
                                    <a href="javascript:;">车位管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/zhibuchewei">织布车位管理</a></dd>
                                    </dl>
                                </dd>-->
                            </dl>
                        </li>
                        <li data-name="xitongshezhi" class="layui-nav-item">
                            <a href="javascript:" lay-tips="系统设置" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>系统设置</cite>
                            </a>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/xitongshezhi/shujuzidian">数据字典</a></dd>
                            </dl>
                        </li>
                        <li data-name="dingdanguanli" class="layui-nav-item">
                            <a href="javascript:" lay-href="forward/dingdanguanli/dingdanguanli" lay-tips="订单管理" lay-direction="2">
                                <i class="layui-icon layui-icon-form"></i>
                                <cite>订单管理</cite>
                            </a>
                        </li>
                        <li data-name="heyuehaoguanli" class="layui-nav-item">
                            <a href="javascript:" lay-href="/dingdanguanli/heyuehaoguanli/heyuehao_page" lay-tips="合约号管理" lay-direction="2">
                                <i class="layui-icon layui-icon-note"></i>
                                <cite>合约号管理</cite>
                            </a>
                        </li>
                        <li data-name="gongyi" class="layui-nav-item">
                            <a href="javascript:" lay-tips="工艺管理" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>工艺管理</cite>
                            </a>
                            <dl class="layui-nav-child" >
                                <dd><a lay-href="forward/gongyi/gongyi">工艺管理</a></dd>
                            </dl>
                        </li>

                        <li data-name="chengkuguanli" class="layui-nav-item">
                            <a href="javascript:" lay-tips="仓库管理" lay-direction="2">
                                <i class="layui-icon layui-icon-set"></i>
                                <cite>仓库管理</cite>
                            </a>
                            <dl class="layui-nav-child" >
                                <dd class="">
                                    <a href="javascript:">原纱管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/yuanshaguanli/yuansharukudengji">原纱入库登记</a></dd>
                                        <dd><a lay-href="forward/yuanshaguanli/yuansharukushenqing">原纱入库申请</a></dd>
                                        <dd><a lay-href="forward/yuanshaguanli/yuansharukuqueren">原纱入库确认</a></dd>
                                        <dd><a lay-href="forward/yuanshaguanli/yuanshachukudengji">原纱出库登记</a></dd>
                                        <dd><a lay-href="forward/">原纱出库申请</a></dd>
                                        <dd><a lay-href="forward/">原纱出库确认</a></dd>
                                        <dd><a lay-href="forward/yuanshaguanli/yuanshakucunchakan">原纱库存查看</a></dd>
                                    </dl>
                                </dd>
                                <dd class="">
                                    <a href="javascript:">成品管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/">成品入库登记</a></dd>
                                        <dd><a lay-href="forward/">成品入库申请</a></dd>
                                        <dd><a lay-href="forward/">成品入库确认</a></dd>
                                        <dd><a lay-href="forward/">成品出库登记</a></dd>
                                        <dd><a lay-href="forward/">成品出库申请</a></dd>
                                        <dd><a lay-href="forward/">成品出库确认</a></dd>
                                        <dd><a lay-href="forward/">成品库存查看</a></dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>

                        <li data-name="set" class="layui-nav-item">
                            <a href="javascript:" lay-tips="设置" lay-direction="2">
                                <i class="layui-icon layui-icon-set"></i>
                                <cite>设置</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd class="layui-nav-itemed">
                                    <a href="javascript:">我的设置</a>
                                    <dl class="layui-nav-child">
                                        <dd><a lay-href="forward/jichushezhi/info">基本资料</a></dd>
                                        <dd><a lay-href="forward/jichushezhi/password">修改密码</a></dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>





            <!--导航标签-->
            <div class="layadmin-pagetabs"  id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>

            </div>






            <!--主体内容iframe-->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show" >
                    <iframe src="" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            </div>



            <!--辅助元素，一般用于移动设备下遮罩-->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>


    <div th:replace="common/links::js_footer"></div>
    <script th:inline="javascript">
        layui.config({
            base:"/layuiadmin/"
        }).extend({
            index:"lib/index"
        }).use("index");
    </script>


<!--登陆用户名为：<span sec:authentication="name"></span>-->

<!--用户角色为：<span sec:authentication="principal.authorities"></span>-->

<!--<div sec:authorize="isAuthenticated()">-->
    <!--This content is only shown to authenticated users.-->
    <!--<a th:href="@{/logout}">退出系统</a>-->
<!--</div>-->

<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
    <!--This content is only shown to administrators.-->
<!--</div>-->

<!--<div sec:authorize="hasRole('ROLE_RR1')">-->
    <!--此内容只会给有RR1角色的用户展示-->
<!--</div>-->



<!--<div sec:authorize="hasAuthority('USER_VIEW')">-->
    <!--本内容供有用户查看权限用户查看-->
<!--</div>-->


</body>
</html>