<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/common/links::header"></div>
    <title>原纱入库登记</title>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- 查询条件 -->
        <form class="layui-form layui-card-header layuiadmin-card-header-auto" id="form">
            <div class="layui-form-item">
                <!--开始日期-->
                <div class="layui-inline">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="kaishiriqi_sele" name="kaishiriqi" placeholder="开始日期" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--结束日期-->
                <div class="layui-inline">
                    <label class="layui-form-label">结束日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="jieshuriqi_sele" name="jieshuriqi" placeholder="结束日期" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--批号-->
                <div class="layui-inline">
                    <label class="layui-form-label">批号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="yuanSha.pihao" placeholder="原纱批号" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--品名-->
                <div class="layui-inline">
                    <label class="layui-form-label">品名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="yuanSha.pinming" placeholder="原纱品名" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--支数-->
                <div class="layui-inline">
                    <label class="layui-form-label">支数</label>
                    <div class="layui-input-inline">
                        <input type="text"  name="yuanSha.zhishu" placeholder="支数" lay-verify="num" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--色别-->
                <div class="layui-inline">
                    <label class="layui-form-label">色别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="yuanSha.sebie" placeholder="色别" class="layui-input" autocomplete="off"/>
                    </div>
                </div>
                <!--供应商-->
                <div class="layui-inline">
                    <label class="layui-form-label">供应商</label>
                    <div class="layui-input-inline">
                        <select name="yuanSha.gongyingshang.id"  lay-search="" id="gongyingsha_sele" >
                        </select>
                    </div>
                </div>
                <!--出库类型-->
                <div class="layui-inline">
                    <label class="layui-form-label">出库类型</label>
                    <div class="layui-input-inline">
                        <select name="chukuleixing.id"  lay-search="" id="chukuleixing_sele" >
                        </select>
                    </div>
                </div>
                <!-- 申请状态 -->
                <div class="layui-inline">
                    <label class="layui-form-label">申请状态</label>
                    <div class="layui-input-inline">
                        <select name="status.id"  lay-search="" id="status_sele" >
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="form_search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" type="button" id="add">
                        <i class="layui-icon layuiadmin-button-btn" >&#xe608;</i> 新增申请
                    </button>
                </div>
            </div>
        </form>

        <!-- 查询表格-->
        <div class="layui-card-body">
            <table id="table" lay-filter="table"></table>
            <script type="text/html" id="caozuo">
                {{#  if(d.status.value == 10){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"> <i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } }}
            </script>
        </div>

        <!-- 添加信息 -->
        <div style="display: none" id="div_form_add" >
            <div class="layui-form" lay-filter="form_add" id="form_add" style="padding: 10px">
                <div class="layui-form-item">
                    <fieldset class="layui-elem-field">
                        <legend>原纱信息</legend>
                        <div class="layui-field-box layui-form" lay-filter="form_ysxx_add" id="form_ysxx_add">
                            <!-- 批号 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">批号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="pihao" class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 品名 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">品名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="pinming"  class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 供应商 === -->
                            <div class="layui-inline">
                                <label class="layui-form-label">供应商</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="gongyingshang.name"  class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 支数 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">支数</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="zhishu"  class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 色号 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">色号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="sehao" class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 色别 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">色别</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="sebie"  class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 包装形式 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">包装形式</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="baozhuangxingshi.name"  class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>

                            <!-- 库存量 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">库存量</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="kucunliang"  class="layui-input" autocomplete="off" disabled/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-btn-list" type="button" id="xzys_add">
                                    <i class="layui-icon layuiadmin-button-btn" >&#xe608;</i> 选择原纱
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="layui-elem-field">
                        <legend>出库信息</legend>
                        <div class="layui-field-box">

                            <!-- 合约号 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">合约号<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <select name="heyuehao.id"  id="heyuehao_add" lay-verify="required" >
                                    </select>
                                </div>
                            </div>

                            <!-- 来源 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">出库类型<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <select name="chukuleixing.id"  id="chukuleixing_add" lay-verify="required" >
                                    </select>
                                </div>
                            </div>

                            <!-- 包数 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">申请包数<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <input type="text" id="baoshu_add" name="baoshu" lay-verify="int|length" tq_length="1^10" placeholder="包数" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>

                            <!-- 包重 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">申请包重<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <input type="text" id="baozhong_add" name="baozhong" lay-verify="num|length" tq_length="1^10" placeholder="包重" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>

                            <!-- 总重量 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">申请总重量<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                                <div class="layui-input-inline">
                                    <input type="text" id="zongzhong_add" name="zongzhong" lay-verify="num|length" tq_length="1^10" placeholder="总重量" class="layui-input" autocomplete="off"/>
                                </div>
                            </div>


                            <!-- 备注 === 不是必输项-->
                            <div class="layui-inline">
                                <label class="layui-form-label">申请备注</label>
                                <div class="layui-input-inline">
                                    <textarea type="text" name="beizhu" lay-verify="length" tq_length="^255" placeholder="请输入备注" class="layui-input" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="form_add_submit" id="form_add_submit" value="确认">
                    </div>
                </div>
            </div>
        </div>


        <!-- 修改信息 -->
       <!-- <div style="display: none" id="div_form_edit" >
            <div class="layui-form" lay-filter="form_edit" id="form_edit" style="padding: 20px 30px 0 0;">
                <div class="layui-form-item">

                    &lt;!&ndash; 批号 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">批号<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" name="yuanSha.pihao" lay-verify="sz|length" tq_length="^10" placeholder="批号" class="layui-input" autocomplete="off" disabled/>
                        </div>
                    </div>

                    &lt;!&ndash; 品名 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">品名<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" name="yuanSha.pinming" lay-verify="length" tq_length="1^20" placeholder="品名" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 供应商 === &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">供应商<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="yuanSha.gongyingshang.id"  id="gongyingshang_edit" lay-verify="required" >
                            </select>
                        </div>
                    </div>

                    &lt;!&ndash; 支数 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">支数<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" name="yuanSha.zhishu" lay-verify="int|length" tq_length="1^6" placeholder="支数" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 色号 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">色号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="yuanSha.sehao"  lay-verify="length" tq_length="^20" placeholder="色号" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 色别 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">色别</label>
                        <div class="layui-input-inline">
                            <input type="text" name="yuanSha.sebie" lay-verify="length" tq_length="^20" placeholder="色别" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 包装形式 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">包装形式<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="yuanSha.baozhuangxingshi.id" id="baozhuangxingshi_edit"  lay-verify="required" >
                            </select>
                        </div>
                    </div>

                    &lt;!&ndash; 来源 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">来源<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <select name="laiyuan.id"  id="laiyuan_edit" lay-verify="required" >
                            </select>
                        </div>
                    </div>

                    &lt;!&ndash; 申请包数 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">申请包数<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" id="baoshu_edit" name="baoshu" lay-verify="int|length" tq_length="1^10" placeholder="申请包数" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 申请包重 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">申请包重<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" id="baozhong_edit" name="baozhong" lay-verify="num|length" tq_length="1^10" placeholder="申请包重" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 申请总重量 &ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">申请总重量<i class="layui-icon layui-icon-snowflake" style="font-size: 10px; color: red;"></i></label>
                        <div class="layui-input-inline">
                            <input type="text" id="zongzhong_edit" name="zongzhong" lay-verify="num|length" tq_length="1^10" placeholder="申请总重量" class="layui-input" autocomplete="off"/>
                        </div>
                    </div>

                    &lt;!&ndash; 申请备注 === 不是必输项&ndash;&gt;
                    <div class="layui-inline">
                        <label class="layui-form-label">申请备注</label>
                        <div class="layui-input-inline">
                    <textarea type="text" name="beizhu" lay-verify="length" tq_length="^255" placeholder="申请备注" class="layui-input"
                              autocomplete="off"></textarea>
                        </div>
                    </div>

                    &lt;!&ndash; ID &ndash;&gt;
                    <div class="layui-form-item layui-hide">
                        <input type="text" name="id">
                        <input type="text" name="yuanSha.id">
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="form_edit_submit" id="form_edit_submit" value="确认">
                    </div>
                </div>
            </div>
        </div>-->

    </div>
</div>






























<!-- 原纱信息选择 -->
<div th:include="/views/yuanshaguanli/yuansha::yuanshaFragment"></div>

<div th:replace="/common/links::js_footer"></div>
<script>
    layui.config({
        base: "/layuiadmin/" //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        , yuanshachukushenqing: 'yuanshaguanli/yuanshachukushenqing'
        , yuansha: 'yuanshaguanli/yuansha'
    }).use(['index', 'yuanshachukushenqing','yuansha'], function () {

    });

    var yuansha_add = null;
    var yuansha_edit = null;
</script>
</body>
</html>